S3method(predict,nmrstats_baseline)
export(LADDER)
export(assert_disjoint_proteins)
export(baseline_blup)
export(calibration_coverage)
export(check_protocol)
export(drop_one_block_oof)
export(estimate_regions)
export(feature_blocks)
export(fit_element)
export(fit_joint)
export(fit_per_element)
export(folds_block_time)
export(folds_leave_cluster)
export(folds_leave_protein_out)
export(freeze_regions)
export(importance)
export(joint_views)
export(linear_relaimpo)
export(load_substrate)
export(make_folds)
export(morans_i)
export(n_eff_ar1)
export(resid_target)
export(run_all)
export(run_ladder)
export(run_nulls)
export(support_per_stratum)
export(within_protein_morans_i)
importFrom(stats,predict)
importFrom(utils,head)
import(data.table)
